// background-image
.bg-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

// background-color
.bg-primary-lighter {
  background-color: $primary-200;
}

// writing-mode
.writing-vertical-rl {
  writing-mode: vertical-rl;
}

.writing-md-vertical-rl {
  @include media-breakpoint-up(md) {
    writing-mode: vertical-rl;
  }
}

// text-color
.text-primary-light {
  color: $primary-500;
}

// border-color
.border-primary-lighter {
  border: 1px solid $primary-200;
}

// btn
.btn-primary-lighter {
  @include button-variant($primary-200, $primary-200);
}

.btn-brand-light {
  @include button-variant($white, $primary-200);
}
