.productCard {
  position: relative;
  &__img {
    height: 315px;
  }
  &__name,
  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    p,
    strong {
      padding: 15px 0px;
    }
  }
  &__name {
    border-right: 1px solid $primary-200;
  }
  &__tag {
    position: absolute;
    top: 0px;
    left: 20px;
    writing-mode: vertical-rl;
    color: #fff;
    background-color: $primary;
    padding: 15px 10px;
    letter-spacing: 5px;
  }
  &__icon {
    position: absolute;
    top: 19px;
    right: 22px;
    font-size: 20px;
    cursor: pointer;
  }
}
