.step {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  &__circle {
    height: 20px;
    width: 20px;
    border: 1px solid $primary-500;
    border-radius: 50%;
    background-color: $primary;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &--active {
      border-color: $primary-200;
      &:after {
        content: '';
        width: 14px;
        height: 14px;
        background-color: $primary-200;
        display: block;
        border-radius: 50%;
      }
    }
    &--complete {
      background-color: $primary-200;
      font-size: 12px;
      color: $primary;
    }
    &--complete--dark {
      background-color: $primary;
      font-size: 12px;
      color: $primary-200;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    height: 1px;
    background-color: $primary-500;
  }
}
